Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/AssetHotloading.vshost.exe.manifest
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/MonoGame.Framework.dll
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/OpenTK.dll
Monogame.AssetHotloading/AssetHotloading/bin/
Monogame.AssetHotloading/AssetHotloading/obj/
SimpleExceptionLogging/CSharp.SimpleExceptionLogging/CSharp.SimpleExceptionLogging/obj/
SimpleExceptionLogging/CSharp.SimpleExceptionLogging/CSharp.SimpleExceptionLogging/bin/
Mongodb.HelloWorld/Mongodb.HelloWorld/bin/
Mongodb.HelloWorld/Mongodb.HelloWorld/obj/
SimpleJsonWriter/SimpleJsonWriter/bin/
SimpleJsonWriter/SimpleJsonWriter/obj/
ByteLoading/ByteLoading/obj/
ByteLoading/ByteLoading/bin/
