Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/AssetHotloading.vshost.exe.manifest
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/MonoGame.Framework.dll
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/OpenTK.dll
Monogame.AssetHotloading/AssetHotloading/bin/
Monogame.AssetHotloading/AssetHotloading/obj/
SimpleExceptionLogging/CSharp.SimpleExceptionLogging/CSharp.SimpleExceptionLogging/obj/
SimpleExceptionLogging/CSharp.SimpleExceptionLogging/CSharp.SimpleExceptionLogging/bin/
Mongodb.HelloWorld/Mongodb.HelloWorld/bin/
Mongodb.HelloWorld/Mongodb.HelloWorld/obj/
SimpleJsonWriter/SimpleJsonWriter/bin/
SimpleJsonWriter/SimpleJsonWriter/obj/
ByteLoading/ByteLoading/obj/
ByteLoading/ByteLoading/bin/
Xna16bitPrecisionTest/Loading a 3D model/Loading a 3D model/bin/
Xna16bitPrecisionTest/Loading a 3D model/Loading a 3D modelContent/obj/
Xna16bitPrecisionTest/Loading a 3D model/Loading a 3D model/obj/
Xna16bitPrecisionTest/Loading a 3D model/Loading a 3D model/Loading a 3D model.csproj.Debug.cachefile
Xna16bitPrecisionTest/Loading a 3D model/Loading a 3D model/Loading a 3D model.csproj.Release.cachefile
RayCasterGDI/RayCasterGDI/bin/
RayCasterGDI/RayCasterGDI/obj/x86/Debug/RayCasterGDI.csproj.FileListAbsolute.txt
Xna.Instancing/Instancing Sample/Instancing Sample/Instancing Sample/bin/
Xna.Instancing/Instancing Sample/Instancing Sample/Instancing Sample/obj/
Xna.Instancing/Instancing Sample/Instancing Sample/Instancing SampleContent/obj/
