Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/AssetHotloading.vshost.exe.manifest
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/MonoGame.Framework.dll
Monogame.AssetHotloading/AssetHotloading/bin/WindowsGL/Debug/OpenTK.dll
Monogame.AssetHotloading/AssetHotloading/bin/
Monogame.AssetHotloading/AssetHotloading/obj/
